<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport" />
    <title>Example</title>
    <link href="assets/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/screen.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/transition.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <img height="418" src="/assets/images/notfound.png" width="320" />
    </div>
    <script type="text/javascript">
      setTimeout(scrollTo, 100, 0, 1);
    </script>
  </body>
</html>
